@import '../../styles/variables';

%display_flex {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 1160px;
  margin-right: 90px;
}

.days {
  @extend %display_flex;
  margin-bottom: 40px;
}

.tabs_map {
  @extend %display_flex;
  color: $white;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 45px;

  .tabs_map_btn {
    font-style: normal;
    font-weight: 350;
    font-size: $btn-fs;
    line-height: 25px;

    color: $white;
    cursor: pointer;
    width: 200px;
    height: 55px;
    border: $border;
    border-radius: $btn-border;
    background: var(#{--components-background-default});

    &:hover {
      background: var(#{--switch-background-gradient-default});
    }
  }
}




