@import '../../styles/variables';

/*Switch*/

.switch {
  position: relative;
  width: 260px;
  height: 55px;
  display: block;
  user-select: none;

  & input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(#{--components-background-default});
  -webkit-transition: .4s;
  transition: .4s;
  border: $border;

  &.round {
    border-radius: $btn-border;
  }

  /*Moving Slider Section*/

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    left: 0;
    bottom: 0;
    background: var(#{--switch-background-gradient-default});
    border-radius: $btn-border;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /*Slider Text*/

  &_text {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    width: 100%;
    text-align: center;
  }

  &_text > span {
    color: $white;
    font-size: $btn-fs;
    width: 50%;
    display: block;
    float: left;
    -webkit-transition: .4s;
    transition: .4s;
  }

  & .on {
    color: $black;
  }
}

/*Changes on Slide*/

input:checked + .slider::before {
  -webkit-transform: translateX(130px);
  -ms-transform: translateX(130px);
  transform: translateX(130px);
}

input:checked + .slider .off {
  color: $white;
}

input:checked + .slider .on {
  color: $white;
}

