@import '../../styles/variables';

.hr {
  border: .2px solid #545353;;
  width: 100px;
  height: 0;
  box-sizing: content-box;
  display: block;
}

.wrapper {
  width: 150px;
  height: 320px;
  background: var(#{--day-background-gradient-default});
  border: $border;
  border-radius: $primary-border;
  color: $white;
  cursor: pointer;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day {
  font-style: normal;
  font-weight: 400;
  font-size: $card-fs;
  line-height: 68px;
}

.icon img {
  margin: 25px 0;
  width: 90px;
  height: 90px;
}

.degree {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 68px;
}