@import '../../styles/variables';

.wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  background: var(#{--day-background-gradient-default});
  border: $border;
  border-radius: $primary-border;

  .map {
    width: 95%;
    height: 550px;
    border-radius: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

